node_modules
npm-debug.log*
logs
*.log

.git
.gitignore
.gitattributes

.env
.env.*

*.sqlite
*.sqlite3
*.sqlite-journal
*.db

tests
docs
README.md

Dockerfile
docker-compose.yml
.dockerignore

.vscode
.idea
